<h1>Editing service record</h1>

<%= render "form", service_record: @service_record %>

<br>

<div>
  <%= link_to "Show this service record", @service_record %> |
  <%= link_to "Back to service records", service_records_path %>
</div>
