<div id="<%= dom_id partner %>">
  <p>
    <strong>Name:</strong>
    <%= partner.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= partner.phone_number %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= partner.rating %>
  </p>

</div>
