<div id="<%= dom_id account %>">
  <p>
    <strong>Name:</strong>
    <%= account.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= account.phone_number %>
  </p>

  <p>
    <strong>Billing address:</strong>
    <%= account.billing_address %>
  </p>

</div>
